@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    --color-white: #fff;
    --color-black: #000;
    --color-accent-1: #3854F5;
    --inOutQuart: cubic-bezier(0.76, 0, 0.24, 1);
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsl(var(--primary));
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--primary));
}

*::-webkit-scrollbar-thumb:active {
  background-color: hsl(var(--primary));
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.custom-marker
 {
  background-color: white;
  padding: 2px 12px;
  border-radius: 28px;
  cursor: pointer;
  /* border: 1px solid gray; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  color: #222;
  font-size: 14px;
  font-weight: 600 !important;
  transition: padding 0.1s !important;
  z-index: 51;
}

.custom-marker:hover {
  /* background-color: #3854F5 !important; */
  z-index: 52 !important;
  font-weight: 700 !important;
  padding: 4px 14px !important;
  margin-top: -2px;
}

.custom-marker-hidden {
  color: transparent;
  background-color: white;
  border-radius: 2rem;
  width: 20px !important;
  height: 15px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.custom-marker-hidden:hover {
  background-color: white;
  /* padding: 2px 12px; */
  border-radius: 28px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  color: #222;
  width: fit-content !important;
  height: fit-content !important;
  font-size: 14px;
  font-weight: 600 !important;
  transition: padding 0.1s !important;
  font-weight: 700 !important;
  z-index: 52 !important;
  padding: 4px 14px !important;
  margin-top: -2px;
}

.active-marker {
  background-color: hsl(240 5.9% 10%) !important;
  color: #fff !important;
  padding: 4px 14px !important;
  margin-top: -2px;
  border-radius: 28px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  width: fit-content !important;
  height: fit-content !important;
  font-size: 14px;
  transition: padding 0.1s !important;
  font-weight: 700 !important;
  z-index: 52 !important;
  padding: 4px 14px !important;
}

.fadeIn {
  animation: fadeInAnimation 0.1s;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
  color: var(--primary);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em
  }

  40% {
    box-shadow: 0 2.5em 0 0
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.transitionDiv {
  background: red;
  height: 100px;
  width: 200px;
  margin: 0 auto;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.mapboxgl-popup {
  max-width: fit-content !important;
  z-index: 55 !important;
}

.mapboxgl-popup-content {
  width: fit-content !important;
  padding: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.mapboxgl-popup-tip {
  display: none !important;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-dots li {
  margin: 0 !important;
  width: 15px !important;
}

.slick-dots li button::before {
  color: white !important;
  font-size: 8px !important;
}

.plot:hover div .arrow-btn {
  opacity: 1;
}